:root {
  --navbar-height: 3rem;
  --footer-height: 3rem;

  --page-padding: 1rem;
  --page-max-width: 64rem;

  /* Colors */
  --primary: #2d294f;
  --secondary: #e8b673;
  --white: #ffffff;
  --black: #000000;

  /** Grid Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

html,
body {
  font-family: "Raleway", "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Arapey", "Cabin", sans-serif;
}
